body{
    background-color: #f7f7f7;
    color: #333;
    letter-spacing: 2px;
}
.one{
    width: 100%;
    background-color: #e3e6eb;
}
.one>section{
    width: 1200px;
    margin:  0 auto;
    background-image: url(../img/bg.jpg);
    background-position: center;
    height: 600px; 
    padding: 4% 0 ;
    box-sizing: border-box;
    text-align: center;  
}
.one>section div{
    filter: drop-shadow(5px 3px 3px rgba(0,0,0,0.5));
}
.one>section>div:nth-of-type(1){
    width: 17%;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 2%;
}
.one>section img{
    width: 100%;
    height: auto;
}
.one>section h2{
    filter: drop-shadow(5px 3px 3px rgba(0,0,0,0.5));
    font-weight: 500;
    font-size: 2.5rem;
    color: #fff;
    letter-spacing: 6px;
    font-style: italic;
    margin-bottom: 2%;
}
.one>section h1{
    filter: drop-shadow(5px 3px 3px rgba(0,0,0,0.5));
    font-weight: 800;
    font-size: 3.5rem;
    color: #fff;
    letter-spacing: 6px;
    font-style: italic;
    margin-bottom: 1%
}
.one>section>div:nth-of-type(2){
    width: 10%;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 1%;
}
.one>section>div:nth-of-type(3){
    display: flex;
    justify-content: center;
    align-items: center;
}
.one>section>div:nth-of-type(3)>a{
    display: inline-block;
    padding: 1% 3%;
    font-size: 1.2rem;
    letter-spacing: 5px;
    font-style: italic;
    color: rgba(15, 15, 15, 0.5);
    background-color: #f7f7f7;
    margin: 0 3%;
    
}
.one>section>div:nth-of-type(3)> div{
   width: 13%;
    
}
.two{
    width: 100%;
    background-color: #d0efde;
}
.two>section{
    height: 500px;
    width: 1024px;
    margin: 0 auto;
    position: relative;
}
.two>section>div{
    background-color: #f7f7f7;
    position: absolute;
    top: -10%;
    height: 500px;
    padding: 5%;
    box-sizing: border-box;
    padding-left: 58%;
    box-shadow: 8px 8px 5px rgba(141, 140, 140, 0.5);
}
.two>section>div>div:nth-of-type(1){
    width: 700px;
    overflow: hidden;
    position: absolute;
    top: 15%;
    left: -5%;
}
.two>section>div>div:nth-of-type(2){
    text-align: center;
    width:100%;
    line-height: 1.4;
    padding: 10%;

}
.two>section>div>div:nth-of-type(2) h2{
    font-size: 1.6rem;
    margin-bottom: 10%;
}
.two>section>div>div:nth-of-type(2) p{
    line-height: 2;
    text-align: left;
} 
.three{
    width: 100%;
    background-color: #edf7f2;
}
.three>section{
    width: 1024px;
    margin:  0 auto;
    padding: 5%;
    box-sizing: border-box;
    text-align: center;
}
.three>section>div>div{
    display: flex;
    width: 60%;
    margin: 0 auto;
    text-align: left;
    line-height: 2;
    font-size: 0.9rem;
    align-items: center;
}
.three>section>div>h3{
    font-size: 2rem;
    font-style: italic;
    letter-spacing: 6px;
    margin-bottom: 2%;
}
.three>section>div>h2{
    font-size: 2.5rem;
    font-style: italic;
    letter-spacing: 6px;
    margin-bottom: 4%
}
.three>section>div>p {
    width: 60%;
    margin: 0 auto;
    line-height: 2;
    margin-bottom: 5%;
}
.three>section>div>div>div:nth-of-type(2){
    margin: 0 3%;
}
.three>section>div>div>div:nth-of-type(2) ul li{
    font-size: 0.8rem;
    letter-spacing: 0;
}
.four{
    width: 100%;
    padding: 5%;
}
.four>section{
    width: 1024px;
    margin: 5% auto;
}
.four>h2{
    text-align: center;
}
/*定位*/
.four>section>div:nth-of-type(1){
    margin-bottom: 5%;
    position: relative;
    height: 450px;
}
.four>section>div:nth-of-type(1)>.wrapper{
    position: absolute;
}
.four>section>div:nth-of-type(1)>section .product{
    position: absolute;
    width: 35%;
}
.four>section>div:nth-of-type(1)>section .photo{
    position: absolute;
}
.four>section:nth-child(even)>div:nth-of-type(1)>.wrapper{
    top: 10%;
    left: 3%;
    z-index: 3;
}
.four>section:nth-child(even)>div:nth-of-type(1)>section .product{
    bottom: 10%;
    left: 8%;
    z-index: 2;
}
.four>section:nth-child(even)>div:nth-of-type(1)>section .photo{
    right: 5%;
    z-index: 1;
}
.four>section:nth-child(odd)>div:nth-of-type(1)>.wrapper{
    top: 10%;
    right: -5%;
    z-index: 3;
}
.four>section:nth-child(odd)>div:nth-of-type(1)>section .product{
    bottom: 10%;
    right: 5%;
    z-index: 2;
}
.four>section:nth-child(odd)>div:nth-of-type(1)>section .photo{
    left: 5%;
    z-index: 1;
}
/*style*/
.four>section>div:nth-of-type(1)>.wrapper{
    width: 45%;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-gap: 10px;
    padding: 10px;
    align-items: center;

}
.four>section>div:nth-of-type(1)>.wrapper .box1 {
  grid-row-start: 1;
  grid-row-end: 3;
}
.four>section>div:nth-of-type(1)>.wrapper span{
    font-size: 4rem;
}
.four>section>div:nth-of-type(1)>.wrapper h3{
    font-size: 2rem;
}
.four>section>div:nth-of-type(1)>.wrapper p{
    font-size: 1rem;
    border-top: 1px #6a6a6a solid;
    padding-top: 6px;
    display: inline-block;
    color: #6a6a6a ;
}
.four>section>div:nth-of-type(1)>section .product>div{
    width: 100%;
    padding: 8%;
    border: 1px #3e3e3e solid;
    background-color: rgba(255, 255, 255, 0.7);
}
.four>section>div:nth-of-type(1)>section .product>div h3{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 20px;
}
.four>section>div:nth-of-type(1)>section .product>div p{
    line-height: 1.8;
    font-size: 0.8rem;
    color: #383838;
}
.four>section>div:nth-of-type(1)>section .photo{
    width: 650px;
    height: 450px;
    background-color: #747474;   
}
.four>section>div:nth-of-type(1)>#tab01 .photo{
    background-color: red;   
    z-index: 2;
}
.four>section>div:nth-of-type(1)> #tab02 .photo{
    background-color: yellow;   
}
.four>section>div:nth-of-type(1)> #tab03 .photo{
    background-color: green;   
}
.four>section>div:nth-of-type(1)> #tab04 .photo{
    background-color: skyblue;   
}
.four>section>div:nth-of-type(2) div {
    display: flex;
    justify-content:space-around;
    
}
.four>section>div:nth-of-type(2) div a{
    width: 190px;
    height: 190px;
    background-color: #9095a5;
}
footer{
    width: 100%;
    background-color: #d0efde;
    padding: 5% 0;
}