body{
    background-color: #f7f7f7;
    color: #333;
    letter-spacing: 2px;
}
.one{
    width: 100%;
    background-color: #e3e6eb;
}
.one>section{
    width: 1200px;
    margin:  0 auto;
    background-image: url(../img/bg.jpg);
    background-position: center;
    height: 600px; 
    padding: 4% 0 ;
    box-sizing: border-box;
    text-align: center;  
}
.one>section div{
    filter: drop-shadow(5px 3px 3px rgba(0,0,0,0.5));
}
.one>section>div:nth-of-type(1){
    width: 17%;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 2%;
}
.one>section img{
    width: 100%;
    height: auto;
}
.one>section h2{
    filter: drop-shadow(5px 3px 3px rgba(0,0,0,0.5));
    font-weight: 500;
    font-size: 2.5rem;
    color: #fff;
    letter-spacing: 6px;
    font-style: italic;
    margin-bottom: 2%;
}
.one>section h1{
    filter: drop-shadow(5px 3px 3px rgba(0,0,0,0.5));
    font-weight: 800;
    font-size: 3.5rem;
    color: #fff;
    letter-spacing: 6px;
    font-style: italic;
    margin-bottom: 1%
}
.one>section>div:nth-of-type(2){
    width: 10%;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 1%;
}
.one>section>div:nth-of-type(3){
    display: flex;
    justify-content: center;
    align-items: center;
}
.one>section>div:nth-of-type(3)>a{
    display: inline-block;
    padding: 1% 3%;
    font-size: 1.2rem;
    letter-spacing: 5px;
    font-style: italic;
    color: rgba(15, 15, 15, 0.5);
    background-color: #f7f7f7;
    margin: 0 3%;
    
}
.one>section>div:nth-of-type(3)> div{
   width: 13%;
    
}
.two{
    width: 100%;
    background-color: #d0efde;
}
.two>section{
    height: 500px;
    width: 1024px;
    margin: 0 auto;
    position: relative;
}
.two>section>div{
    background-color: #f7f7f7;
    position: absolute;
    top: -10%;
    height: 500px;
    padding: 5%;
    box-sizing: border-box;
    padding-left: 58%;
    box-shadow: 8px 8px 5px rgba(141, 140, 140, 0.5);
}
.two>section>div>div:nth-of-type(1){
    width: 700px;
    overflow: hidden;
    position: absolute;
    top: 15%;
    left: -5%;
}
.two>section>div>div:nth-of-type(1) iframe{
    width:600px;
    height:350px;
}
.two>section>div>div:nth-of-type(2){
    text-align: center;
    width:100%;
    line-height: 1.4;
    padding: 10%;

}
.two>section>div>div:nth-of-type(2) h2{
    font-size: 1.6rem;
    margin-bottom: 10%;
}
.two>section>div>div:nth-of-type(2) p{
    line-height: 2;
    text-align: left;
} 
.three{
    width: 100%;
    background-color: #edf7f2;
}
.three>section{
    width: 1024px;
    margin:  0 auto;
    padding: 5%;
    box-sizing: border-box;
    text-align: center;
}
.three>section>div>div{
    display: flex;
    width: 60%;
    margin: 0 auto;
    text-align: left;
    line-height: 2;
    font-size: 0.9rem;
    align-items: center;
}
.three>section>div>h3{
    font-size: 2rem;
    font-style: italic;
    letter-spacing: 6px;
    margin-bottom: 2%;
}
.three>section>div>h2{
    font-size: 2.5rem;
    font-style: italic;
    letter-spacing: 6px;
    margin-bottom: 4%
}
.three>section>div>p {
    width: 60%;
    margin: 0 auto;
    line-height: 2;
    margin-bottom: 5%;
}
.three>section>div>div>div:nth-of-type(2){
    margin: 0 3%;
}
.three>section>div>div>div:nth-of-type(2) ul li{
    font-size: 0.8rem;
    letter-spacing: 0;
}
.four{
    width: 100%;
    padding: 5%;
}
.four>section{
    width: 1024px;
    margin: 5% auto;
}
.four>h2{
    text-align: center;
    font-size: 1.5rem;
    color: #a2a2a2;
}
/*定位*/
.four>section>div:nth-of-type(1){
    margin-bottom: 2%;
    position: relative;
    height: 450px;
}
.four>section>div:nth-of-type(1)>.wrapper{
    position: absolute;
}
.four>section>div:nth-of-type(1)>section .product{
    position: absolute;
    width: 35%;
}
.four>section>div:nth-of-type(1)>section .photo{
    position: absolute;
}
.four>section:nth-child(even)>div:nth-of-type(1)>.wrapper{
    top: 6%;
    left: 3%;
    z-index: 3;
}
.four>section:nth-child(even)>div:nth-of-type(1)>section .product{
    top: 30%;
    left: 8%;
    z-index: 2;
}
.four>section:nth-child(even)>div:nth-of-type(1)>section .photo{
    right: 5%;
    z-index: 1;
}
.four>section:nth-child(odd)>div:nth-of-type(1)>.wrapper{
    top: 6%;
    right: -5%;
    z-index: 3;
}
.four>section:nth-child(odd)>div:nth-of-type(1)>section .product{
    top: 30%;
    right: 5%;
    z-index: 2;
}
.four>section:nth-child(odd)>div:nth-of-type(1)>section .photo{
    left: 5%;
    z-index: 1;
}
/*style*/
.four>section>div:nth-of-type(1)>.wrapper{
    width: 48%;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-gap: 10px;
    padding: 10px;
    align-items: center;

}
.four>section>div:nth-of-type(1)>.wrapper .box1 {
  grid-row-start: 1;
  grid-row-end: 3;
}
.four>section>div:nth-of-type(1)>.wrapper span{
    font-size: 4rem;
}
.four>section>div:nth-of-type(1)>.wrapper h3{
    font-size: 2rem;
}
.four>section>div:nth-of-type(1)>.wrapper p{
    font-size: 1rem;
    border-top: 1px #6a6a6a solid;
    padding-top: 6px;
    display: inline-block;
    color: #6a6a6a ;
}
.four>section>div:nth-of-type(1)>section .product>div{
    width: 100%;
    padding: 4%;
    border: 2px #5d5d5d solid;
    background-color: rgba(255, 255, 255, 0.7);
}
.four>section>div:nth-of-type(1)>section .product>div>h3{
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 1.2;
}
.four>section>div:nth-of-type(1)>section .product>div>p{
    line-height: 1.4;
    font-size: 0.8rem;
    color: #8e8e8e;
    padding: 3%
}
.four>section>div:nth-of-type(1)>section .product>div>a{
    color: #fff;
    text-align: right;
    display: inline-block;
    padding: 1% 5%;
    background-color: #3dad3d;
    margin-left: 60%;
    margin-bottom: 4%;
    transform: skewX(-10deg);
}
.four>section>div:nth-of-type(1)>section .product>div>div{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 5fr 5fr;
    align-items: baseline;
}
.four>section>div:nth-of-type(1)>section .product>div>div span{
    text-align: right;
    font-size: 0.9rem;
    color: #999;
    position: relative;
    font-style: italic;
}
.four>section>div:nth-of-type(1)>section .product>div>div span:before{
    content: "";
    border: 1px #999 solid;
    width: 65%;
    position: absolute;
    top: 45%;
}
.four>section>div:nth-of-type(1)>section .product>div>div em{
    font-size: 1.4rem;
    text-align: right;
}
.four>section>div:nth-of-type(1)>section .photo{
    width: 600px;
    height: 400px;
    overflow: hidden;
}
.four>section>div:nth-of-type(1)>section .photo img{
    width: 100%;
    height: auto;
    position: absolute;
    top: -30%;
}
#tab06,#tab07,#tab08,#tab10,#tab11,#tab12,#tab14,#tab15,#tab16{
    display: none;
}
.four>section>div:nth-of-type(2) ul {
    display: flex;
    justify-content:space-around;
}
.four>section>div:nth-of-type(2) ul li a{
    width: 15vw;
    height: 15vw;
    display: inline-block;
    background-color: #999;
    overflow: hidden;
}
.four>section>div:nth-of-type(2) ul li a img{
    width: 100%;
    height: auto;
}
.active{
    box-shadow: 0 0 6px 6px rgba(133, 150, 188, 0.3); 
}
footer{
    width: 100%;
    background-color: #d0efde;
    padding: 5% 0;
    box-sizing: border-box;
}
@media screen and (max-width:1199px){
    .one>section{
        width: 100%;
        height: 50vw; 
        padding: 3vw 0 ;
    }
    .one>section>div:nth-of-type(1){
        width: 17vw;
    }
    .one>section h2{
        font-size: 2rem;
    }
    .one>section h1{
        font-weight: 800;

    }
    .one>section>div:nth-of-type(2){
        width: 12vw;
    }
    .one>section>div:nth-of-type(3)>a{
        font-size: 1rem;
    }
    .one>section>div:nth-of-type(3)> div{
       width: 13vw;

    }
    .two>section{
        height: 50vw;
        width: 90%;
    }
    .two>section>div{
        top: -3vw;
        height: 50vw;
        padding: 5vw;
        padding-left: 58vw;
    }
    .two>section>div>div:nth-of-type(1){
        width: 70vw;
        top: 15%;
        left: -3vw;
    }
    .two>section>div>div:nth-of-type(1) iframe{
        width:60vw;
        height:35vw;
    }
    .two>section>div>div:nth-of-type(2) h2{
        font-size: 1.3rem;
        margin-bottom: 10%;
    }
    .two>section>div>div:nth-of-type(2) p{
        line-height: 2;
        font-size: 0.8rem;
    } 
    .three>section{
        width: 90%;
        padding: 4vw;
    }
    .three>section>div>div{
        width: 60vw;
        line-height: 2;
        font-size: 0.9rem;
    }
    .three>section>div>p {
        width: 60vw;
    }
    .three>section>div>div>div:nth-of-type(2){
        margin: 0 3vw;
    }
    .three>section>div>div>div:nth-of-type(2) ul li{
        font-size: 0.8rem;
        letter-spacing: 0;
    }
    .four>section{
        width: 100%;
    }
    .four>h2{
        text-align: center;
        font-size: 1.5rem;
        color: #a2a2a2;
    }
    /*定位*/
    .four>section>div:nth-of-type(1){
        margin-bottom: 0;
    }
    .four>section>div:nth-of-type(1)>section .product{
        width: 45vw;
    }
    .four>section:nth-child(even)>div:nth-of-type(1)>.wrapper{
        left: 0%;
    }
    .four>section:nth-child(even)>div:nth-of-type(1)>section .product{
        left: 0;
    }
    .four>section:nth-child(even)>div:nth-of-type(1)>section .photo{
        right: 0;
    }
    .four>section:nth-child(odd)>div:nth-of-type(1)>.wrapper{
        right: 0;
    }
    .four>section:nth-child(odd)>div:nth-of-type(1)>section .product{
        right:0;
    }
    .four>section:nth-child(odd)>div:nth-of-type(1)>section .photo{
        left: 5%;
        z-index: 1;
    }
    /*style*/
    .four>section>div:nth-of-type(1)>.wrapper{
        width: 45vw;
    }
    .four>section>div:nth-of-type(1)>section .product>div{
        padding: 2vw;
    }
    .four>section>div:nth-of-type(1)>section .product>div>p{
        line-height: 1.5;
        font-size: 0.7rem;
        color: #5d5d5d;
        padding: 1vw;
    }
    .four>section>div:nth-of-type(1)>section .photo{
        width: 60vw;
        height: 40vw;
    }
    .four>section>div:nth-of-type(1)>section .photo img{
        width: 100%;
        top: -6vw;

    }
    .four>section>div:nth-of-type(2) ul li a{
        width: 15vw;
        height: 15vw;

    }

}
@media screen and (max-width:700px){
    .one>section{
        width: 100%;
        background-size: cover;
        background-position: left;
        height: 500px; 
        overflow: hidden;
    }
    .one>section>div:nth-of-type(1){
        width: 40%;
        margin-bottom: 5%;
    }
    .one>section h2{
        font-size: 8vw;
        line-height: 1.4;
        margin-bottom: 5%;
    }
    .one>section h2 span{
        display: none;
    }
    .one>section h1{
        font-size: 10vw;
        margin-bottom: 5%
    }
    .one>section>div:nth-of-type(2){
        width: 25%;
        margin-bottom: 5%;
    }
    .one>section>div:nth-of-type(3)> div{
       width: 25%;
    }
    .two>section{
        width: 90%;
        height: 500px;
    }
    .two>section>div:first-child{
        padding: 2%;
        display: block;
        height: 500px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .two>section>div>div:nth-of-type(1){
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
    }
    .two>section>div>div:nth-of-type(1) iframe{
        width:100%;
        height: 200px;
    }
    .two>section>div>div:nth-of-type(2){
        text-align: center;
        width:100%;
        line-height: 1.4;
        padding: 10%;

    }
    .two>section>div>div:nth-of-type(2) h2{
        font-size: 1.2rem;
        margin-bottom: 5%;
    }
    .two>section>div>div:nth-of-type(2) p{
        line-height: 1.7;
        text-align: left;
        font-size: 0.9rem;
    }
    .three>section{
        width: 100%;
    }
    .three>section>div>div{
        width: 100%;
    }
    .three>section>div>h3{
        margin-bottom: 5%;
        font-size: 1.4rem;
    }
    .three>section>div>p {
        width: 80%;
        font-size: 0.9rem;
    }
    .three>section>div>div div:nth-of-type(1),
    .three>section>div>div div:nth-of-type(3){
        display: none;
     }
    .three>section>div>div>div:nth-of-type(2) ul li{
        font-size: 0.7rem;
        letter-spacing: 0;
    }
    .four h2{
        padding: 15%;
    }
    .four>section{
        width: 100%;
        margin: 5% auto;
    }
    /*定位*/
    .four>section>div:nth-of-type(1){
        margin:  0 auto;
        height: 90vw;
        margin-top: 35%;
    }
    .four>section>div:nth-of-type(1)>section .product{
        width: 75%;
    }
    .four>section:nth-child(even)>div:nth-of-type(1)>.wrapper{
        top: -22%;
        left: 0;
    }
    .four>section:nth-child(even)>div:nth-of-type(1)>section .product{
        top: 60%;
        left: 0;        
    }
    .four>section:nth-child(even)>div:nth-of-type(1)>section .photo{
        left: 0;
        right: 5%;
    }
    .four>section:nth-child(odd)>div:nth-of-type(1)>.wrapper{
        top: -22%;
        right: 0;
    }
    .four>section:nth-child(odd)>div:nth-of-type(1)>section .product{
        top: 60%;
        left: 0;
    }
    .four>section:nth-child(odd)>div:nth-of-type(1)>section .photo{
        left: 0;
        right: 5%;
        
    }
    /*style*/
    .four>section>div:nth-of-type(1)>.wrapper{
        width: 100%;
    }
    .four>section>div:nth-of-type(1)>.wrapper span{
        font-size: 3.6rem;
    }
    .four>section>div:nth-of-type(1)>.wrapper h3{
        font-size: 1.5rem;
    }
    .four>section>div:nth-of-type(1)>.wrapper p{
        font-size: 0.6rem;
        line-height: 1.3;
    }
    .four>section>div:nth-of-type(1)>section .product>div h3{
        font-size: 0.9rem;
        font-weight: 600;
        margin-bottom: 2%;
        line-height: 1.2;
    }
    .four>section>div:nth-of-type(1)>section .product>div p{
        display: none;
    }
    .four>section>div:nth-of-type(1)>section .product>div>a{
        font-size: 0.8rem;
    }
    .four>section>div:nth-of-type(1)>section .product>div>div{
        grid-template-columns: 4fr 5fr;
        align-items: baseline;
    }
    
    .four>section>div:nth-of-type(1)>section .product>div>div span{
        text-align: right;
        font-size: 0.7rem;
        color: #999;
        position: relative;
        font-style: italic;
    }
    .four>section>div:nth-of-type(1)>section .product>div>div span:before{
        width: 90%;
    }
    .four>section>div:nth-of-type(1)>section .product>div>div em{
        font-size: 1rem;
    }
    .four>section>div:nth-of-type(1)>section .photo{
        width: 90%;
        height: 80vw;
        margin: 0 auto;
    }
    .four>section>div:nth-of-type(1)>section .photo img{
        top: 0;
    }
    .four>section>div:nth-of-type(2) ul {
      margin-bottom: 5%;
        width: 100%;

    }
    .four>section>div:nth-of-type(2) ul li a{
        width: 20vw;
        height:20vw;

    }
    footer{
        padding: 10%;
    }

  

}
